[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://gitlab.com/L-4/odin-imgui.git
[submodule "vendor/tinyobjloader"]
	path = vendor/tinyobjloader
	url = https://github.com/Kosmit147/tinyobjloader_odin.git
